@font-face {
    font-family: "Comfortaa";
    src: url(./font/Comfortaa.ttf);
    font-weight: normal; /* Добавляем нормальную насыщенность */
}

@font-face {
    font-family: "Comfortaa";
    src: url(./font/Comfortaa.ttf);
    font-weight: bold; /* Для жирного текста */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
/* Header */
.header-top {
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 80px;
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 0%, 0.3);
    z-index: 1000;
}
.image-button {
    background-color: transparent;
    border-color: transparent;
}


.header-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Comfortaa;  
    font-size: 32px;
}



.header-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Comfortaa;
    font-size: 21px;
    gap: 90px;
}

.header-nav-galereya {
    white-space: nowrap;
    color: white;
    font-family: Comfortaa;
    font-size: 21px;
}

.header-application {
    width: 343px;
    height: 43px;
    color: #434343;
    font-family: Comfortaa;
    background: #FFFFFF4D;
    backdrop-filter: blur(18px);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 21px;
    text-transform: lowercase;
    border-radius: 20px;
    cursor: pointer;
    border: none;

}

.header-mess img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.header-mess {

    display: flex;
    gap: 95px;
}

.main{
    padding-top: 110px;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-image: url("../img/backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main img {
    width: 1920vw;
    height: 1440vw; /* Сохраняет пропорции */
    display: block;
}

.main-application {
    color: #434343;
    width: 285px;
    height: 43px;
    font-family: Comfortaa;
    background: #FFFFFF4D;
    backdrop-filter: blur(18px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 21px;
    text-transform: lowercase;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.main-actions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 80px;
}

.main-btn {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-text1 {
    transform: translateY(-50%);
    font-size: 64px;
    color: #413E3E;
    font-family: Comfortaa;
    z-index: 3;
}
.main-text2 {
    position: absolute;
    top: 32%;
    left: 410px;
    transform: translateY(-50%);
    font-size: 64px;
    color: #335bff;
    font-family: Comfortaa;
    z-index: 3;

}
.main-text3 {
    width: 656px;
    height: 40px;
    transform: translateY(-50%);
    font-size: 36px;
    color: #ffffff;
    font-family: Comfortaa;
    z-index: 3;


}

